<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Wdc_Fulfillment>
            <version>0.1.0</version>
        </Wdc_Fulfillment>
    </modules>
    <frontend>
        <routers>
            <fulfillment>
                <use>standard</use>
                <args>
                    <module>Wdc_Fulfillment</module>
                    <frontName>ordertest</frontName>
                </args>
            </fulfillment>
        </routers>
    </frontend>
    <global>
        <helpers>
            <fulfillment>
                <class>Wdc_Fulfillment_Helper</class>
            </fulfillment>
        </helpers>
        <blocks>
            <fulfillment>
                <class>Wdc_Fulfillment_Block</class>
            </fulfillment>
        </blocks>
        <models>
            <fulfillment>
                <class>Wdc_Fulfillment_Model</class>
                <resourceModel>fulfillment_mysql4</resourceModel>
            </fulfillment>
            <fulfillment_mysql4>
                <class>Wdc_Fulfillment_Model_Mysql4</class>
                <entities>
                    <order>
                        <table>wdc_fulfillment_order</table>
                    </order>
                    <file>
                        <table>wdc_fulfillment_file</table>
                    </file>
                    <log>
                        <table>wdc_fulfillment_log</table>
                    </log>
                    <repost>
                        <table>wdc_fulfillment_repost</table>
                    </repost>
                    <shipment>
                        <table>wdc_fulfillment_shipment</table>
                    </shipment>
                    <sales_grid>
                        <table>sales_flat_order_grid</table>
                    </sales_grid>
                    <sales_address>
                        <table>sales_flat_order_address</table>
                    </sales_address>
                </entities>
            </fulfillment_mysql4>
        </models>
        <resources>
            <fulfillment_setup>
                <setup>
                    <module>Wdc_Fulfillment</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </fulfillment_setup>
        </resources>
        <events>
            <sales_order_place_after>
                <observers>
                    <fulfillment>
                        <type>singleton</type>
                        <class>Wdc_Fulfillment_Model_Observer</class>
                        <method>saveOrderXml</method>
                    </fulfillment>
                </observers>
            </sales_order_place_after>
           <!-- <core_block_abstract_prepare_layout_before>
                <observers>
                    <addmassbutton>
                        <type>model</type>
                        <class>Wdc_Fulfillment_Model_Observer</class>
                        <method>addmassbutton</method>
                    </addmassbutton>
                </observers>
            </core_block_abstract_prepare_layout_before>-->
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <fulfillment before="Mage_Adminhtml">Wdc_Fulfillment_Adminhtml</fulfillment>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
   <crontab>
        <jobs>
            <wdc_fulfillment_orders>
                <schedule>
                    <cron_expr>0 3 * * *</cron_expr>
                </schedule>
                <run>
                    <model>fulfillment/inventory::updateInventory</model>
                </run>
            </wdc_fulfillment_orders>

            <wdc_sap_orders>
                <schedule>
                    <cron_expr>0 2 * * *</cron_expr>
                </schedule>
                <run>
                    <model>fulfillment/inventory::updateOrder</model>
                </run>
            </wdc_sap_orders>
        </jobs>
    </crontab>
</config>
